<main class="container">
    <section class="row mt-5">
        <div class="col-6">
            <img [src]="newBien.picture" alt="" width="100%">
        </div>
        <div class="col-6">
            <div>
                <label for="">Titre</label>
                <input type="text" class="form-control" placeholder="Titre" [(ngModel)]="newBien.title">
            </div>
            <div>
                <label for="">Ville</label>
                <input type="text" class="form-control" placeholder="Ville" [(ngModel)]="newBien.ville">
            </div>
            <div>
                <label for="">Nombre de piece</label>
                <input type="number" class="form-control" placeholder="nbDePiece" [(ngModel)]="newBien.nbDePiece">
            </div>
            <div>
                <label for="">Superficie en m²</label>
                <input type="number" class="form-control" placeholder="Superficie" [(ngModel)]="newBien.superficie">
            </div>
            <div>
                <label for="">Image</label>
                <input type="text" class="form-control" placeholder="Picture" [(ngModel)]="newBien.picture">
            </div>
            <div>
                <label for="">Prix</label>
                <input type="number" class="form-control" placeholder="Prix" [(ngModel)]="newBien.prix">
            </div>
            <button class="btn btn-success mt-2" routerLink="" (click)="addBien()">Valider</button>
        </div>
    </section>
</main>