

<main class="container pt-5 d-flex justify-content-around flex-wrap align-items-center bg-light bg-gradient">
    <div class="text-center btnBien">
        <button class="btn btn-primary" routerLink="/add">Ajouter un bien</button>
    </div>
    <div class="myCard" *ngFor="let bien of listDesBiens">
        <img [src]="bien.picture" alt="" width="330">
        <div class="text-center">
            <p class="mt-2">{{bien.title}}<br>Prix de la journée : {{bien.prix}}€</p>
            <button class="btn btn-primary" (click)="toEditPage(bien)">Modifier</button>
            <button class="btn btn-danger" (click)="removeBien(bien)">Supprimer</button>
        </div>
    </div>
</main>